:host{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;

    .menu{
        display: flex;
        width: 200;
        height: 200;
        margin: 10px;
        gap: 50px;
    }
    button {
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #4CAF50; /* Цвет фона кнопок */
      color: white; /* Цвет текста кнопок */
  }

  button:hover {
      background-color: #45a049; /* Цвет фона кнопок при наведении */
  }

  /* Стили для активной кнопки */
  button.active {
      background-color: #333; /* Цвет фона активной кнопки */
  }
}
