
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(to right, transparent, mistyrose);

}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

/* Стили для кнопки удаления */
button:first-child {
  color: brown;
  float: right;
}

/* Стили для кнопки редактирования */
button:last-child {
  float: right;
}

p {
  margin: 5px 0;
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
