<p >Ближайшие дни рождения 🎉 </p>
<div class="list">
    <div *ngFor="let item of list$ |async" class="item">
        <button (click)="deletePerson(item.id)" style="float: right;  color:brown">❌</button>
        <button style="float:right;" [routerLink]="['/edit', item.id]">✏️</button>
        <p>{{item.name}}</p>
        <p >{{item.dateBirthday |date}} </p>
        <div class="photo">
            <img
            [src]="'data:image/png;base64,' + item.kodBase64" 
            />
        </div>
    </div>