app-header{
    position: sticky;
    top:0;
    padding: 40px;
    border-radius: 0 10px;
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

.wrap{

main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 220vh;
    padding: 24px;
}}
