<p>Добавить запись</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div>
    <label for="name">
        Имя 
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="date">
            Дата
          </label>
          <input id="date" type="text" formControlName="date">
        </div>


      <div>
        <input 
        type ="file"
        (change)="onFileChange($event)" 
        >
      </div>  

      
        <button class="button" type="submit">Добавить</button>
</form>